@import "tailwindcss";
@import "@heroui/styles";

@font-face {
  font-family: 'LustraTextBold';
  src: url('/fonts/lustra-text-bold.ttf') format('truetype');

}


.outfit {
  font-family: var(--font-outfit), sans-serif;
}

.orbitron {
  font-family: var(--font-orbitron), sans-serif;
}

.lustra-bold {
  font-family: 'LustraTextBold', sans-serif;
}
