@import "tailwindcss";
@import "@heroui/styles";

@font-face {
  font-family: 'LustraTextBold';
  src: url('/fonts/lustra-text-bold.ttf') format('truetype');

}


.outfit {
  font-family: var(--font-outfit), sans-serif;
}

.orbitron {
  font-family: var(--font-orbitron), sans-serif;
}

.lustra-bold {
  font-family: 'LustraTextBold', sans-serif;
}

/* Custom Global Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0A0B0F;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1F2128;
  border: 2px solid #0A0B0F;
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #00CCFF;
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.5);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1F2128 #0A0B0F;
}

/* Support for Firefox Hover Effect (Not fully supported but fallback) */
*:hover {
  scrollbar-color: #00CCFF #0A0B0F;
}
